body {
    font-size: 16px;
}

h1 {
    font-size: 2rem;
    letter-spacing: 1px;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

p {
    text-align: justify;
    text-indent: 3rem;
    line-height: 125%;
}

.container {
    margin: 0 30px;
}

dl {
    display: flex;
    justify-content: flex-start;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 15px;
}

hr {
    margin-top: 20px;
    border-color: #fff;
}